@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'sans-serif';
}

.container-xxl {
    padding: 0;
}

.topBar {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.topBar .logo_container {
    width: 200px;
    height: 50px;
}

.topBar .logo_container img {
    width: 100%;
    height: 100%;
}

.topBar .search_container {
    width: 30%;
    border: 1.5px solid rgb(146, 146, 146);
    border-radius: 3px;
    padding: 3px 8px;
    display: flex;
    align-items: center;justify-content: space-between;
}

.topBar .search_container input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
    padding: 4px 5px;
    border-right: 1.5px solid silver;
    margin-right: 5px;
}

.topBar .search_container .icon_box {
    width: 30px;
    height: 26px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar .search_container .icon_box img {
    width: 100%;
    height: 100%;
}

.topBar .topBarTools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topBar .topBarTools .panier_container {
    position: relative;
    margin-right: 20px;
}

.topBar .topBarTools .panier_container .icon_box {
    width: 18.3px;
    height: 16px;
}

.topBar .topBarTools .panier_container .icon_box img {
    width: 100%;
    height: 100%;
}

.topBar .topBarTools .panier_container .notification {
    position: absolute;
    width: 14px;
    height: 14px;
    color: #fff;
    background-color: #468c00;
    font-size: 10px;
    border-radius: 25px;
    text-align: center;
    top: -2px;
    right: -7.5px;
}

.topBar .topBarTools .signIn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topBar .topBarTools .signIn_container span {
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
}

.topBar .topBarTools .signIn_container i {
    color: #468c00;
    font-size: 20px;
}

/* nav bar */
.navBar {
    width: 100%;
    background-color: #468c00;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
}

.navBar .allCategorie_box {
    position: relative;
    background-color: #424251;
    height: 60px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 50px;
    cursor: pointer;
}

.navBar .allCategorie_box i {
    font-size: 18px;
    margin-right: 8px;
}

.navBar .allCategorie_box .categorie_menu {
    background-color: #fff;
    position: absolute;
    top: -100%;
    width: 100%;
    padding: 15px 0 30px;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .3s;
}

.navBar .allCategorie_box .categorie_menu.show_categorie {
    top: 60px;
    visibility: visible;
    opacity: 1;
}

.navBar .allCategorie_box .categorie_menu li {
    padding: 10px 5px 10px 20px;
    border-bottom: 1px solid silver;
    font-size: 13px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .allCategorie_box .categorie_menu li:hover {
    background-color: #424251;
}

.navBar .allCategorie_box .categorie_menu li:hover a,
.navBar .allCategorie_box .categorie_menu li:hover i {
    color: white;
}

.navBar .allCategorie_box .categorie_menu li a {
    color: #424251;
    font-weight: 600;
    text-decoration: none;
}

.navBar .allCategorie_box .categorie_menu li i {
    color: #424251;
    font-size: 10px;
}

.navBar .allCategorie_box span {
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 600;
}

.navBar nav {
    width: 55%;
}

.navBar nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.navBar nav ul span {
    color: rgba(255, 255, 255, 0.6);
    font-size: 10px;
}

.navBar nav ul li {
    font-size: 18px;
    list-style: none;
    text-transform: uppercase;
}

.navBar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* heading carousel */
.heading_carousel-container {
    width: 100%;
    height: calc(100vh - 155px);
}

.heading_carousel-container .owl-carousel,
.heading_carousel-container .owl-carousel .owl-stage-outer,
.heading_carousel-container .owl-carousel .owl-stage,
.heading_carousel-container .owl-carousel .owl-item,
.heading_carousel-container .owl-carousel .item {
    height: 100%;
}

.heading_carousel-container .owl-carousel .heading_1 {
    background: url('../Images/slide.png');
}

.heading_carousel-container .owl-carousel .heading_2 {
    background: url('../Images/jens-kreuter-ngMtsE5r9eI-unsplash.jpg');
}

.heading_carousel-container .owl-carousel .heading_3 {
    background: url('../Images/r-architecture-WQCkior21Gc-unsplash.jpg');
}

.heading_carousel-container .owl-carousel .item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading_carousel-container .owl-carousel .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading_carousel-container .owl-carousel .owl-nav button {
    background-color: rgba(255, 255, 255, 0.8);
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*
    main page
*/
.main_page {
    width: 100%;
    min-height: 80vh;
    padding: 20px 0;
    margin-bottom: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_page .first_bloc {
    width: 81%;
    margin: 0 auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_page .switch_bloc {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto 35px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid silver;
}

.main_page .switch_bloc .switch_1,
.main_page .switch_bloc .switch_2 {
    margin: 0 30px;
}

.main_page .switch_bloc .switch_1 a,
.main_page .switch_bloc .switch_2 a {
    text-transform: uppercase;
    text-decoration: none;
    color: #2a2a2a;
    font-size: 21px;
    margin: 0;
}

/*.main_page .switch_bloc .switch_1 a.active,
.main_page .switch_bloc .switch_2 a.active {

}*/

.main_page .first_bloc .carousel-container-first_bloc {
    width: 100%;
    padding: 0 20px;
}

.carousel-container-first_bloc .owl-carousel,
.carousel-container-first_bloc .owl-carousel .owl-stage-outer,
.carousel-container-first_bloc .owl-carousel .owl-stage,
.carousel-container-first_bloc .owl-carousel .owl-item,
.carousel-container-first_bloc .owl-carousel .owl-item.cloned,
.carousel-container-first_bloc .owl-carousel .item {
    height: 100%;
}

.carousel-container-first_bloc .owl-carousel {
    position: relative;
}

.carousel-container-first_bloc .owl-carousel .owl-item {
    border: 1.5px solid gray;
    padding: 5px 5px 3px 5px;
}

.carousel-container-first_bloc .owl-carousel .owl-item .illustration_item {
    width: 95%;
    height: 250px;
    margin: 0 auto;
}

.carousel-container-first_bloc .owl-carousel .owl-item .illustration_item img {
    width: 100%;
    height: 100%;
}

.carousel-container-first_bloc .owl-carousel .owl-item .item_title {
    font-weight: bold;
    color: #212121;
    padding-left: 8px;
    margin: 0;
}

.carousel-container-first_bloc .owl-carousel .owl-item .item_categorie {
    color: #468c00;
    font-weight: bold;
    padding-left: 8px;
    margin: 5px 0 8px 0;
    font-size: 16px;
}

.carousel-container-first_bloc .owl-carousel .owl-item .container_action {
    width: 100%;
    padding: 8px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-container-first_bloc .owl-item .container_action .detail_btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #468c00;
    padding: 5px 12px;
    text-align: center;
}

.carousel-container-first_bloc .owl-carousel .owl-item .container_action .item_action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container-first_bloc .owl-carousel .owl-item .container_action .item_action span {
    color: #202020;
    font-size: 8px;
    font-weight: bold;
    line-height: 8px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-right: 3px;
}

.carousel-container-first_bloc .owl-carousel .owl-item .container_action .item_action i {
    font-weight: bold;
    font-size: 18px;
}

.carousel-container-first_bloc .owl-carousel .owl-nav {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-container-first_bloc .owl-carousel .owl-nav button {
    display: none;
    opacity: 0;
    transition: all ease-in-out .3s;
}

.carousel-container-first_bloc .owl-carousel:hover .owl-nav button {
    display: block;
    opacity: 1;
}

.carousel-container-first_bloc .owl-carousel .owl-nav button {
    background-color: transparent;
    color: #468c00;
    font-size: 60px;
    text-align: center;
}

.carousel-container-first_bloc .owl-carousel .owl-nav button:hover {
    background-color: transparent;
    color: #212121;
}

/* second bloc */
.main_page .second_bloc {
    width: 100%;
    min-height: 300px;
    margin: 50px 0;
    background-color: #202020;
    display: flex;
    justify-content: center;
}

.main_page .third_bloc {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_page .third_bloc h3 {
    text-transform: uppercase;
    color: #424251;
}

.main_page .third_bloc .deals_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_page .third_bloc .deals_container .item {
    width: 40%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
    border-bottom: 1.5px solid #468c00;
}

.main_page .third_bloc .deals_container .item .image_container {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

.main_page .third_bloc .deals_container .item .image_container img {
    width: 100%;
    height: 100%;
}

.main_page .third_bloc .deals_container .item a {
    color: #424251;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/*
    footer part
*/
.footer_section {
    width: 100%;
}

.footer_section .top_footer {
    width: 100%;
    padding: 15px;
    background-color: #468c00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_section .top_footer .left_part {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 245, 245);
}

.footer_section .top_footer .left_part .icon_box {
    margin-right: 10px;
    width: 40px;
    height: 32px;
}

.footer_section .top_footer .left_part .icon_box img {
    width: 100%;
    height: 100%;
}

.footer_section .top_footer .left_part h4 {
    line-height: 13px;
    font-size: 20px;
    font-weight: normal;
}

.footer_section .top_footer .left_part h4 span {
    font-size: 12.5px;
}

.footer_section .top_footer .right_part {
    width: 30%;
}

.footer_section .top_footer .right_part .newsletter_box {
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_section .top_footer .right_part .newsletter_box .newsletterInput {
    border: none;
    font-size: 15px;
    color: #424251;
    outline: none;
    padding: 2px 8px;
    width: 100%;
    height: 100%;
}

.footer_section .top_footer .right_part .newsletter_box .newsletterBtn {
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    color: #468c00;
}

.footer_section footer {
    background-color: #2a2a2a;
    width: 100%;
    padding: 40px 0;
}

.footer_section footer .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_section footer .left_part {
    padding-top: 20px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_section footer .left_part .logo_container {
    width: 240px;
    height: 62px;
}

.footer_section footer .left_part .logo_container img {
    width: 100%;
    height: 100%;
}

.footer_section footer .left_part .help_container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_section footer .left_part .help_container > div .icon_box {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.footer_section footer .left_part .help_container > div .icon_box img {
    width: 100%;
    height: 100%;
}

.footer_section footer .left_part .help_container .content {
    text-align: center;
    color: #fff;
}

.footer_section footer .left_part .help_container .content span {
    font-size: 16px;
}

.footer_section footer .left_part .help_container > span {
    color: #468c00;
    font-size: 13px;
}

.footer_section footer .right_part {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_section footer .right_part h5 {
    color: #5db54b;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 20px;
}

.footer_section footer .right_part ul {
    margin: 0;
    padding: 0;
}

.footer_section footer .right_part ul li {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.footer_section footer .right_part ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}